<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIi_JOLcuTyu4M_5FS4WvR7MKFNJOjNaE</string>
	<key>GCM_SENDER_ID</key>
	<string>351151743403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pakainAso.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pakain-aso1</string>
	<key>STORAGE_BUCKET</key>
	<string>pakain-aso1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351151743403:ios:679404e71de8d5803a32ee</string>
</dict>
</plist>